{% extends "Layout.html" %}

{% block content %}

<div class="container pt-2">
<table  data-toggle="table"
data-search="true"
data-show-columns="true"
data-sort-class="table-active"
data-sortable="true">
  <thead class="thead-dark">
    <tr>
      <th data-sortable="true" style="text-align:center; padding:10px">آیدی</th>
      <th data-sortable="true" style="text-align:center; padding:20px; padding-right:40px; padding-left:40px">نام کاربری</th>
      <th data-sortable="true" style="text-align: center;
    height:2em;">نام پدر</th>
      <th data-sortable="true" style="text-align: center;">شماره ملی  </th>
      <th data-sortable="true" style="text-align:center;">ایمیل</th>
      <th>گزینه‌ها</th>
    </tr>
  </thead>
  <tbody id="myTable">
    {% for user in users%}
    <tr scope="row">
      <td style="text-align:center; padding:10px">{{user.id}}</td>
      <td style="text-align:center; padding:10px">{{user.username}}</td>
      <td style="text-align: center;
    height:2em; padding:10px;">{{user.fathername}}</td>
      <td style="text-align:center; padding:10px">{{user.identitynumber}}</td>
      <td style="text-align:center; padding:10px">{{user.email}}</td>
      <td style="text-align:center; padding:10px"><a href="dashboard/users/{{user.id}}" class="btn btn-primary"><i class="fas fa-edit"></i></a></td>
    </tr>
     {% endfor%}
  </tbody>
</table>
</div>
{% endblock content %}